<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
            home
            <% if(locals.user){ %>
                <p>Logged In</p>
            <% } %>
        </section>
        
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_posts.js"></script>

