<h1>Reset Password</h1>

<form action="/users/reset-password" method="POST">
    <input type="password" name="password" placeholder="Password"  required>
    <input type="password" name="confirm_password" placeholder="Confirm Password"  required>
    <input type="submit" value="Sign In">

</form>
